.header {
  width: 100%;
  background: rgb(118, 106, 197);
  margin: 0;
  padding: 0;
}
.chatList-messageField{
  display: flex;
  background: aquamarine;
}

.chatList {
  width: 30%;
}

.messageField {
  width: 70%;
}