.chatsField {
  margin-top: 10px;
  margin-left: 1%;
  width: 30%;
  max-height: 600px;
  color: #006394;
  font-weight: bold;

  input {
    background: none;
    border: none;
    border-bottom: 1px solid #006394;
    color: #006394;
  }

  button {
    background: none;
    border: none;
    color: #006394;
  }

  button:hover {
    font-weight: bold;
  }
}