.field {
  height: 500px;
  width: 100%;
  background: lightseagreen;
}

.author {
  color: darkslateblue;
  font-size: 20px;
}

.robot{
  color: aqua;
  text-align: right;
}

.inputText{
  width: 40%;
}